{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    ["env", { "modules": false, "targets": { "node": "current" } }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "lodash"
  ],
  "comments": false
}
